
  
h1{
    color: #f30b77;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    text-decoration: underline; 
    

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}
